
html {
  background-color: aliceblue;
  margin:auto;
  width: 80%;
  font-family: 'Josefin Sans', sans-serif;
}
body {
  background-color: whitesmoke;
}

H1 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 3rem;
  color: gray;
  text-align: left;
  margin-left: 2rem;
}
.main {
  margin-left: 2rem;
  padding: 1rem;
}
form {
  margin-left: 2rem;
}
p {
  margin-left: 2rem;
}
input {
  margin-left: 2rem;
}
button {
  margin-left: 2rem;
}