html {
  background-color: #293845;
  margin:auto;
  width: 100%;
  font-family: 'Josefin Sans', sans-serif;
}
body {
  background-color: white;
  height: auto;
  margin: auto;
  width: 80%;
  padding: 10px;
}

header {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
  align: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.logo {
  width: 30%;
  height: 30%;
  margin: 1rem; 
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #999699;
}

li {
    float: left;
    
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navbar ul li a:hover:not(.active) {
    background-color: #293845;
}

.active {
    background-color: #939d3b;
}
footer {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
  align: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;

}


/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 0% 0 0% 2%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

/*  GRID OF FOUR  */
.span_4_of_4 {
	width: 100%;
}
.span_3_of_4 {
	width: 74.5%;
}
.span_2_of_4 {
	width: 49%;
}
.span_1_of_4 {
	width: 23.5%; 
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }
	.span_1_of_4, .span_2_of_4, .span_3_of_4, .span_4_of_4 { width: 100%; }
}
.catagory {
  height: 100%;
  width: 100%;
  margin: 1rem;
  opacity: 1.0;
}
.catagory:hover {
  opacity: 0.8;
}
a {
  text-decoration: none;
}
.side {
  margin-left: 2rem;
  color: #293845;
  font-size: 1rem;
}
.section-name {
  margin-left: 2rem;
  margin-top: 0;
}
.icon {
  height: 5%;
  width: 5%;
  text-align: center;
  margin-top: 3rem;
  margin-left: 3rem;
  margin-bottom: 0rem;
}
/*#nelac {
  margin: 5rem 3rem 0rem 0rem;
}*/
h1 {
  color: #293845;
  padding-left: .5rem;
}
h2 {
  padding-left: .5rem;
}
h3 {
  padding-left: .5rem;
  color: darkred;
}
h4 {
  padding-left: .5rem;
}
p {
  padding-left: .5rem;
  font-size: 1rem;
}
#tools {
  display:block;
}
#organic-table {
  padding-top: 1.2rem;
}
td {
  font-size: 1rem;
  padding-left: .5rem;
  padding-top: .5rem;
  padding-bottom: .5rem; 
  padding-right: 1rem;
}
a.side:hover{color: darkred}
th {
  text-align: left;
  padding-left: .5rem;
}
/*sidenav*/
ul.sidelist {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: white;
}

li.sidenav a {
    display: block;
    color: #000;
    padding: 8px 0 8px 16px;
    text-decoration: none;
}

li.sidenav a.active {
    color: #293845;
    
}

li.sidenav a:hover:not(.active) {
    color: darkred};
}
.formLead {
  line-height: 3rem;
}
#map {
  height: 420px;
  width: 650px;
  background-color: #CCC;
  margin-left: 2rem;
  margin-top: 2rem;
  margin: 2rem;
}
#forms {
  background-color: #f7f7f8;
}